# ===========================
# Chaves de API
# ===========================
GOOGLE_API_KEY=

# ===========================
# Modelos
# ===========================
GOOGLE_EMBEDDING_MODEL=models/gemini-embedding-001

# ===========================
# Banco de Dados
# ===========================
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag

# ===========================
# Configurações do Projeto
# ===========================
PG_VECTOR_COLLECTION_NAME=pdf_embeddings
PDF_PATH=document.pdf